body {
  @extend %Rubik-400;
  font-size: 14px;
  line-height: 24px;
  color: $default;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1170px + 15px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  @extend %DMSans-700;
  font-size: 36px;
  line-height: 1.2;
  color: #1a1a1a;
}


