.about {
  margin: 120px 0;
}

.progress {
  &__inner {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;

    &-title {
      @extend %DMSans-700;
      font-size: 36px;
      color: #243f4d;
      margin-bottom: 40px;
    }

    &-text {
      font-size: 16px;
      color: #243f4d;
      margin-bottom: 80px;
      max-width: 552px;
    }
  }

  &__count {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;

    &-number {
      @extend %Rubik-500;
      margin-right: 30px;
      font-size: 140px;
      line-height: 1;
      color: #a3bbc8;
    }

    &-text {
      width: 90px;
      color: #243f4d;
      font-size: 16px;
      margin-bottom: 17px;
    }
  }

  &__advantages {
    display: flex;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 460px;
      background-color: #e6eaf0;
      top: -24px;
      left: 0;
    }

    &-item {
      text-align: left;
      padding-left: 90px;
      padding-right: 50px;
      position: relative;
      margin-left: -26px;

      &::before {
        content: "";
        position: absolute;
        left: 30px;
      }

      &:nth-child(1) {
        &::before {
          width: 36.41px;
          height: 37.719px;
          background-image: url(../images/icon/advantages-icon-1.png.svg);
        }
      }
      &:nth-child(2) {
        border-left: 1px solid #e6eaf0;
        &::before {
          width: 43.12px;
          height: 39.094px;
          background-image: url(../images/icon/advantages-icon-2.png.svg);
        }
      }
      &:nth-child(3) {
        border-left: 1px solid #e6eaf0;
        &::before {
          width: 41.78px;
          height: 40.4px;
          background-image: url(../images/icon/advantages-icon-3.png.svg);
        }
      }
    }

    &-title {
      @extend %DMSans-700;
      font-size: 36px;
      color: #243f4d;
      margin-bottom: 5px;
    }

    &-subtitle {
      @extend %DMSans-700;
      font-size: 16px;
      color: #4c4c4c;
    }
  }

  &__items {
    background-color: #fcd7b6;
  }

  &__items-list {
    display: flex;
    margin-top: 120px;
    justify-content: space-around;
  }

  &__item {
    text-align: center;
    margin: 170px 0 80px;
    position: relative;

    &-title {
      @extend %DMSans-700;
      font-size: 36px;
      margin-bottom: 20px;
      color: #243f4d;
    }

    &-subtitle {
      @extend %DMSans-700;
      font-size: 16px;
      color: #243f4d;
    }

    &::before {
      content: "";
      position: absolute;
      left: 47px;
    }

    &:nth-child(1) {
      &::before {
        top: -80px;
        width: 74px;
        height: 60px;
        background-image: url(/images/icon/progress-1.png);
      }
    }
    &:nth-child(2) {
      &::before {
        top: -70px;
        width: 73px;
        height: 52px;
        background-image: url(/images/icon/progress-2.png);
      }
    }
    &:nth-child(3) {
      &::before {
        top: -80px;
        width: 79px;
        height: 64px;
        background-image: url(/images/icon/progress-3.png);
      }
    }
    &:nth-child(4) {
      &::before {
        top: -80px;
        width: 61px;
        height: 64px;
        background-image: url(/images/icon/progress-4.png);
      }
    }
  }
}

.team{
  margin-top: 120px;

  &__inner{
    display: flex;
  }

  &__content{
    max-width: 370px;
    margin-right: 30px;

    &-title{
      @extend %DMSans-700;
      font-size: 36px;
      color: #243f4d;
      margin-bottom: 20px;
    }

    &-text{
      font-size: 16px;
      color: #243f4d;
      max-width: 305px;
      margin-bottom: 40px;
    }

    &-link{
      display: block;
      @extend %btn;
      width: 170px;
      font-size: 15px;
      padding: 15px;
      border-radius: 5px;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        background-image: url(../images/icon/arrow-rigth.svg);
        width: 22px;
        height: 9px;
        right: 20px;
        top: 21px;
      }
    }
  }

  &__person{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 30px;

    &-item{
      width: 370px;
      height: 320px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 55px;
    }

    &-about{
      width: 325px;
      height: 111px;
      background-color: #fff;
      padding: 30px;
      margin-bottom: -55px;
      position: relative;
      box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }

    &-title{
      @extend %DMSans-700;
      font-size: 22px;
      color: #436372;
      margin-bottom: 10px;
    }

    &-text{
      font-size: 16px;
      color: #565872;
    }

    &-links{
      position: absolute;
      display: flex;
      right: 20px;
      top: 35px;
    }

    &-link{
      background-color: #f6f6f6;
      border-radius: 50%;
      width: 41px;
      height: 41px;   
      @extend %display-center-center;

      
      &:not(:first-child){
        margin-left: 8px;
      }
    }
  }
}


@media (max-width: 1300px){
  .progress{
    &__image{
      display: none;
    }
  }
}

@media (max-width: 1100px){
  .team{
    margin-top: 80px;

    &__inner{
      flex-direction: column;
    }

    &__content{
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 1100px){
  .team{
    &__person{
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 700px){
  .progress{
    &__advantages{
      flex-wrap: wrap;
      justify-content: left;
    }

    &__advantages-item{
      margin-bottom: 30px;
      
      &:nth-child(2),
      &:nth-child(3){
        border: none;
      }
    }

    &__items-list{
      margin-top: 50px;
      flex-wrap: wrap;
    }

    &__item{
      margin: 120px 20px 45px;
    }
  }
}

@media (max-width: 560px){
  .progress{
    &__count-number{
      font-size: 100px;
      margin-right: 18px;
    }

    &__content{
      padding-left: 0;
    }

    &__content-title{
      font-size: 30px;
      line-height: 40px;
    }

    &__advantages::before{
      width: 240px;
    }
  }
}

@media (max-width: 478px){
  .team{
    &__person-item{
      width: 100%;
      background-size: cover;
    }

    &__person-about{
      padding: 10px;
      width: 240px;
    }

    &__person-text{
      font-size: 12px;
    }
  }

}