.new-design {
  margin-bottom: 120px;
  margin-top: 104px;

  &__title {
    display: block;
    text-align: center;
    margin-bottom: 23px;
  }

  &__items {
    margin-top: 74px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 30px;

  }

  &__item {
    height: 246px;
    padding: 42px 0 0 36px;
    position: relative;

    &-image{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    
    &-inner {
      max-width: 172px;
    }

    &-title {
      @extend %DMSans-700;
      font-size: 20px;
      color: #1a1a1a;

      span {
        display: block;
        font-size: 16px;
        color: #a3bbc8;
        margin-top: 10px;
      }
    }
  }
}


@media (max-width: 1100px){
  .new-design{
    &__items{
      grid-gap: 20px;
    }

    &__item{
      padding: 14px 0 0 14px;
    }
  }
}

@media (max-width: 920px){
  .new-design{
    &__items{
      grid-template-columns: repeat(2, 1fr);
    }

    &__item{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 175px;
    }

    &__item-image{
      background-color: #f8f8f8;
      img{
        display: none;
      }
    }
  }
}

@media (max-width: 478px){
  .new-design{
    &__items{
      grid-template-columns: 1fr;
    }
  }
}
