.news {
  padding: 119px 0 92px;
  background-color: rgb($bg-accent, 0.2);
  margin-top: 452px;

  &__link {
    @extend %DMSans-700;
    font-size: 16px;
    color: #262626;
    padding-right: 28px;
    padding-top: 14px;
    position: relative;

    &::after {
      content: ">";
      top: 14px;
      right: 0;
      opacity: 0.8;
      font-size: 21px;
      color: #262626;
      position: absolute;
    }
  }

  &__top {
    margin-top: -451px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    max-height: 420px;
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    display: flex;
    position: relative;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-text {
      padding: 35px 32px 18px;
      @extend %DMSans-500;
      font-size: 18px;
      line-height: 21px;
      color: #262626;
      // overflow: hidden;
    }

    &-data {
      padding: 9px 32px;
      border-top: 1px solid #e0e0e0;
      @extend %Rubik-400;
      font-size: 12px;
      line-height: 30px;
      color: #222933;

      a {
        margin-left: 30px;
        @extend %Rubik-400;
        font-size: 12px;
        line-height: 30px;
        color: #222933;
      }
    }

    &-image {
      max-width: 100%;
      max-height: 250px;
      position: relative;

      &::before {
        content: "NEWS";
        @extend %Poppins-700;
        font-size: 14px;
        line-height: 1;
        border-radius: 15px;
        background-color: #a3bbc8;
        color: #fff;
        width: 103px;
        height: 30px;
        text-align: center;
        padding: 8px;
        position: absolute;
        bottom: -15px;
        left: 28px;
      }
    }
  }
}

.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 97px;
}


@media (max-width: 920px){
  .news{
    padding-bottom: 0;
    background-color: transparent;

    &__item-text{
      padding: 28px 20px 14px;
    }

    &__item-data{
      padding: 9px 17px;
    }

    &__content{
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 920px){
  .news{
    &__link{
      font-size: 12px;
      padding-right: 17px;
      padding-top: 0;

      &::after{
        top: 0;
      }
    }

    &__content{
      grid-template-columns: 1fr;
    }

    &__item{
      flex-direction: column;
    }

    &__item-image{
      img{
        width: 100%;
        height: 253px;
      }
    }
  }
  .title{
    font-size: 22px;
  }

  .partners{
    flex-direction: column;
    margin: 33px 0;

    img{
      margin: 20px;
    }
  }

}

@media (max-width: 478px){
  .news{
    &__item-image{
      img{
        height: 200px;
      }
    }
  }
}

@media (max-width: 478px){
  .title{
    font-size: 16px;
  }
}