.partners-page{
  background-color: rgb($bg-accent, 0.2);
  padding: 70px 0;

  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 920px){
  .partners-page{
  
    &__list{
      flex-wrap: wrap;

      img{
        margin: 20px;
      }
    }


  }
}