.products-week {
  padding: 67px 0 186px;

  &__title {
    text-align: center;
    margin-bottom: 38px;
  }

  &__items {
    margin-top: 73px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}
