<section class="news">   
  <!-- исправить отображение текста -->
  <div class="container">
    <div class="news__top">
      <h4 class="news__title title">
        Our Insights & Articles
      </h4>
      <span><a href="#">View All</a></span>
    </div>
    <div class="news__content">

      <a class="news__item" href="#">
        <div class="news__item-link">
          <div class="news__item-image">
            <img src="../images/news/1.jpg" alt="">
          </div>
          <div class="news__item-content">
            <p class="news__item-text">
              Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <div class="news__item-data">
              28 JANUARY, 2020
              <span>
                BY ADMIN
              </span>
            </div>
          </div>
        </div>
      </a>

      <a class="news__item" href="#">
        <div class="news__item-link">
          <div class="news__item-image">
            <img src="../images/news/2.jpg" alt="">
          </div>
          <div class="news__item-content">
            <p class="news__item-text">
              Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            </p>
            <div class="news__item-data">
              28 JANUARY, 2020
              <span>
                BY ADMIN
              </span>
            </div>
          </div>
        </div>
      </a>

      <a class="news__item" href="#">  
        <div class="news__item-link">
          <div class="news__item-image">
            <img src="../images/news/3.jpg" alt="">
          </div>
          <div class="news__item-content">
            <p class="news__item-text">
              Rncididunt ut labore et dolore magna aliqua. Ut enim 
            </p>
            <div class="news__item-data">
              28 JANUARY, 2020
              <span>
                BY ADMIN
              </span>
            </div>
          </div>
        </div>
      </a>

    </div>
    <div class="partners">
      <img src="../images/icon/1.png" alt="sponsor logo">
      <img src="../images/icon/2.png" alt="sponsor logo">
      <img src="../images/icon/3.png" alt="sponsor logo">
      <img src="../images/icon/4.png" alt="sponsor logo">
      <img src="../images/icon/5.png" alt="sponsor logo">
    </div>
  </div>
</section>