<section class="new-design">
  <div class="container">
    <h3 class="new-design__title section-title">
      New Design
    </h3>
    <ul class="new-design__caregories categories">
      <li class="new-design__caregories-item"><a class="products-week__caregories-link" href="#">All</a></li>
      <li class="new-design__caregories-item"><a class="products-week__caregories-link" href="#">Furnitures</a></li>
      <li class="new-design__caregories-item"><a class="products-week__caregories-link" href="#">Chairs</a></li>
      <li class="new-design__caregories-item"><a class="products-week__caregories-link" href="#">Lighting</a></li>
      <li class="new-design__caregories-item"><a class="products-week__caregories-link" href="#">Decor</a></li>
    </ul>
    <div class="new-design__items">
      <div class="new-design__item">
        <div class="new-design__item-image">
          <img src="../images/categories/1.jpg" alt="">
        </div>
        <div class="new-design__item-inner">
          <h4 class="new-design__item-title">
            Beat Flat Pendant Black
            <span>Classic</span>
          </h4>
        </div>
      </div>
      <div class="new-design__item">
        <div class="new-design__item-image">
          <img src="../images/categories/2.jpg" alt="">
        </div>
        <div class="new-design__item-inner">
          <h4 class="new-design__item-title">
            Lampe Sur Pieds Bamboo
            <span>Classic</span>
          </h4>
        </div>
      </div>
      <div class="new-design__item">
        <div class="new-design__item-image">
          <img src="../images/categories/3.jpg" alt="">
        </div>
        <div class="new-design__item-inner">
          <h4 class="new-design__item-title">
            Rattan Rocking Chair
            <span>Classic</span>
          </h4>
        </div>
      </div>
      <div class="new-design__item">
        <div class="new-design__item-image">
          <img src="../images/categories/4.jpg" alt="">
        </div>
        <div class="new-design__item-inner">
          <h4 class="new-design__item-title">
            Rattan Rocking Chair
            <span>Classic</span>
          </h4>
        </div>
      </div>
      <div class="new-design__item">
        <div class="new-design__item-image">
          <img src="../images/categories/5.jpg" alt="">
        </div>
        <div class="new-design__item-inner">
          <h4 class="new-design__item-title">
            Rattan Rocking Chair
            <span>Classic</span>
          </h4>
        </div>
      </div>
      <div class="new-design__item">
        <div class="new-design__item-image">
          <img src="../images/categories/6.jpg" alt="">
        </div>
        <div class="new-design__item-inner">
          <h4 class="new-design__item-title">
            Lampe Sur Pieds Bamboo
            <span>Classic</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>