<section class="news">   
  <!-- исправить отображение текста -->
  <div class="container">
    <div class="news__top">
      <h4 class="news__title title">
        Our Insights & Articles
      </h4>
      <span>View All</span>
    </div>
    <div class="news__content">

      <div class="news__item">
        <div class="news__item-link">
          <div class="news__item-image">
            <img src="../images/news/1.jpg" alt="">
          </div>
          <div class="news__item-news">NEWS</div>
          <p class="news__item-text">
            Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          </p>
          <div class="news__item-data">
            28 JANUARY, 2020
            <span>
              BY ADMIN
            </span>
          </div>
        </div>
      </div>

      <div class="news__item">
        <div class="news__item-link">
          <div class="news__item-image">
            <img src="../images/news/2.jpg" alt="">
          </div>
          <div class="news__item-news">NEWS</div>
          <p class="news__item-text">
            Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
          </p>
          <div class="news__item-data">
            28 JANUARY, 2020
            <span>
              BY ADMIN
            </span>
          </div>
        </div>
      </div>

      <div class="news__item">  
        <div class="news__item-link">
          <div class="news__item-image">
            <img src="../images/news/3.jpg" alt="">
          </div>
          <div class="news__item-news">NEWS</div>
          <p class="news__item-text">
             Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
          </p>
          <div class="news__item-data">
            28 JANUARY, 2020
            <span>
              BY ADMIN
            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="partners">
      <img src="../images/icon/1.png" alt="sponsor logo">
      <img src="../images/icon/2.png" alt="sponsor logo">
      <img src="../images/icon/3.png" alt="sponsor logo">
      <img src="../images/icon/4.png" alt="sponsor logo">
      <img src="../images/icon/5.png" alt="sponsor logo">
    </div>
  </div>
</section>