<section class="top-slider">
  <div class="top-slider__wrapper">
    <div class="container">
      <div class="top-slider__items">
        <div class="top-slider__item">
          <div class="top-slider__inner">
            <div class="top-slider__item-content">
              <h2 class="top-slider__title">
                SMART AND TRENDY
              </h2>
              <p class="top-slider__text">
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
              <a class="top-slider__button" href="#">
                Shop Now
              </a>
            </div>
            <div class="top-slider__item-img">
              <img src="images/top-slider/top-slider-img-1.png" alt="slider image">
            </div>
          </div>
        </div>
        <div class="top-slider__item">
          <div class="top-slider__inner">
            <div class="top-slider__item-content">
              <h2 class="top-slider__title">
                SMART AND TRENDY
              </h2>
              <p class="top-slider__text">
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <a class="top-slider__button" href="#">
                Shop Now
              </a>
            </div>
            <div class="top-slider__item-img">
              <img src="images/top-slider/top-slider-img-1.png" alt="slider image">
            </div>
          </div>
        </div>
        <div class="top-slider__item">
          <div class="top-slider__inner">
            <div class="top-slider__item-content">
              <h2 class="top-slider__title">
                SMART AND TRENDY
              </h2>
              <p class="top-slider__text">
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
              <a class="top-slider__button" href="#">
                Shop Now
              </a>
            </div>
            <div class="top-slider__item-img">
              <img src="images/top-slider/top-slider-img-1.png" alt="slider image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="top-categories">
  <div class="top-categories__wrapper">
    <div class="top-categories__items">
      <div class="top-categories__items-icon">
        <img src="images/decor/topcategories-icon1.svg" alt="">
      </div>
      <div class="top-categories__items-content">
        <h5 class="top-categories__title">
          Support 24/7.
        </h5>
        <p class="top-categories__text">
          Contact us 24 hours a day, 7 days a week.
        </p>
      </div>
    </div>
    <div class="top-categories__items">
      <div class="top-categories__items-icon">
        <img src="images/decor/topcategories-icon2.svg" alt="">
      </div>
      <div class="top-categories__items-content">
        <h5 class="top-categories__title">
          Delivery.
        </h5>
        <p class="top-categories__text">
          Free shipping on all US order.
        </p>
      </div>
    </div>
    <div class="top-categories__items">
      <div class="top-categories__items-icon">
        <img src="images/decor/topcategories-icon3.svg" alt="">
      </div>
      <div class="top-categories__items-content">
        <h5 class="top-categories__title">
          100% Payment secure.
        </h5>
        <p class="top-categories__text">
          We ensure secure payment with PEV.
        </p>
      </div>
    </div>
  </div>
</section>